<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Bienvenido a {{ title }}!
  </h1>
  <div *ngIf="!grid">
     <button (click)="grid = true" (click)="runGame()" class="button">{{buttonText}}</button>
  </div>
  <div *ngIf="grid">
     <div class="col-md-6">
        <app-grid-map [arrayBarquitos]="arrayBarquitos" ></app-grid-map>
     </div>
     <div class="col-md-4">
        <app-grid-ship [arrayBarquitos]="arrayBarquitos"></app-grid-ship>
     </div>
  </div>
</div>


<router-outlet></router-outlet>
