<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Bienvenido a {{ title }}!
  </h1>
  <div *ngIf="!grid">
     <button (click)="grid = true" (click)="runGame()" class="button">{{buttonText}}</button>
  </div>
  <div *ngIf="grid">
     <div class="col-md-6">
        <app-grid-map [arrayBarquitos]="arrayBarquitos" (shootMap)="onShootMap($event)" [hits]="hits"
        [lifes]="lifes" (hitted)="hits=hits+1;" (missed)="lifes=lifes-1;"></app-grid-map>
     </div>

     <div class="col-md-4">
        <app-grid-ship [arrayBarquitos]="arrayBarquitos"
        [currentTargetBackground]="currentTargetBackground" [hits]="hits" [lifes]="lifes"></app-grid-ship>
     </div>
  </div>
</div>


<router-outlet></router-outlet>
