<div *ngIf="lifes>0 || hits<=7">
    <table class="table table-bordered">
        <tr>
            <td colspan="2"  *ngFor="let grid of bigShip" [id]="grid"
            [style.background-color]="this.currentTargetBackground[grid-1]" width="100" height="100" ></td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tr>
                    <td  *ngFor="let grid of mediumShip" [id]="grid+3"
                    [style.background-color]="this.currentTargetBackground[grid+2]" width="100" height="100"  ></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div *ngFor ="let times of mediumShip">
                <table class="table table-bordered" >
                    <tr>
                        <td *ngFor="let grid of smallShip" [id]="grid+times+4"
                        [style.background-color]="this.currentTargetBackground[grid+times+3]" width="100" height="100" ></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>